# 3.3.1 데이터 수집

In [1]:
# https://finance.yahoo.com/
import pandas as pd
import numpy as np

In [2]:
#samsung electronics
df = pd.read_csv('005930.KS.csv', index_col = 0)
df

             Open   High    Low  Close    Adj Close    Volume
Date
2020-01-02  55500  56000  55000  55200  52537.17969  12993228
2020-01-03  56000  56600  54900  55500  52822.70703  15422255
2020-01-06  54900  55600  54600  55500  52822.70703  10278951
2020-01-07  55700  56400  55600  55800  53108.23828  10009778
2020-01-08  56200  57400  55900  56800  54059.99219  23501171
...           ...    ...    ...    ...          ...       ...
2021-06-14  80800  80900  80500  80500  80500.00000  10550078
2021-06-15  80900  81200  80600  80900  80900.00000  10075685
2021-06-16  81500  81900  81100  81800  81800.00000  14999855
2021-06-17  81100  81300  80700  80900  80900.00000  14007385
2021-06-18  81100  81100  80500  80500  80500.00000  14916721

[363 rows x 6 columns]

 시초가(Open), 고가(High), 저가(Low), 종가(Close), 수정종가(Adj Close), 거래량(Volume) 순으로 표시됩니다. 이중 수정 종가를 사용할 겁니다. ( 수정 종가 : 분할, 배당, 배분, 신주 발생이 된 경우를 고려해 주식 가격을 조정한 것, 데이터의 연속성을 위해서 수정 종가를 분석에 사용하는 경우가 많다고 합니다.  )

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 363 entries, 2020-01-02 to 2021-06-18
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       363 non-null    int64
 1   High       363 non-null    int64
 2   Low        363 non-null    int64
 3   Close      363 non-null    int64
 4   Adj Close  363 non-null    float64
 5   Volume     363 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 19.9+ KB

# 3.3.2 데이터 가공

<div class="alert alert-success">
[문제1]  
    
    
데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
</div>

In [ ]:
df.means()

<div class="alert alert-success">
[문제2]  
    
    
종가('Close') 기준 최대값을 구하세요.
</div>

<div class="alert alert-success">
[문제3]  
    
    
종가('Close') 기준 최소값을 구하세요.
</div>

<div class="alert alert-success">
[문제4]  
    
    
종가('Close') 기준 평균값을 구하세요.
</div>

<div class="alert alert-success">
[문제5]  
    
    
총 데이터의 (row의 개수)를 확인하세요.
</div>

<div class="alert alert-success">
[문제6]  

    
특정 컬럼만 선택하세요.(예: ‘Close’ 컬럼만 선택, ‘Higt’와 ‘Low’ 두 개의 컬럼 선택)
</div>

<div class="alert alert-success">
[문제7]  

    
상위 3개의 로우만 선택하세요.
</div>

<div class="alert alert-success">
[문제8]  

시작가('Open') 대비 종가('Close')가 높았던 날의 데이터만 선택하세요.
</div>

<div class="alert alert-success">
[문제9]  

종가('Close') 기준 가장 주가가 높았던 날의 데이터(로우)를 선택하세요.
</div>

             Open   High    Low  Close    Adj Close    Volume
Date
2021-01-11  90000  96800  89500  91000  90597.41406  90306177

<div class="alert alert-success">
[문제 10]  

 종가('Close') 기준 주가가 90,000원 이상이었던 날짜를 반환하세요.
</div>

<div class="alert alert-success">
[문제 11]  

2021년 1월 15일의 데이터를 반환하세요.
</div>

<div class="alert alert-success">
[문제 12]  

2021년 1월 11일의 고가('High')와 저가('Low')값을 반환하세요.
</div>

<div class="alert alert-success">
[문제 13]  

데이터프레임(df)dml 100번째 데이터를 선택하세요.
</div>

<div class="alert alert-success">
[문제 14]  
    
데이터를 날짜 역순으로(최신 데이터가 위에 위치하도록) 정렬하세요.
</div>

<div class="alert alert-success">
[문제 15]  

종가(‘Close’) 데이터를 가격이 높은 순서대로 정렬하세요.
</div>

<div class="alert alert-success">
[문제 16]  

인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경하세요.
</div>

<div class="alert alert-success">
[문제 17]  

컬럼명을 Date는 ‘날짜’로, ‘High’는 ‘고가’로, ‘Low’는 ‘저가’로 변경하세요.
</div>

<div class="alert alert-success">
[문제 18]  

날짜(‘Date’) 컬럼을 삭제하세요.
</div>

<div class="alert alert-success">
[문제 19]  

 'diff’ 컬럼을 생성하고, 종가(‘Close’)와 시가(‘Open’)의 차이를 계산하여 채워주세요
</div>

<div class="alert alert-success">
[문제 20]  

 ‘Date’ 필드에 저장된 값을 파싱하여 ‘Year’, ‘Month’, ‘Day’ 필드에 저장하세요
</div>

<div class="alert alert-success">
[문제 21]  

수정된 종가('Adj Close') 데이터를 소수점 둘째자리까지 표시하세요
</div>

<div class="alert alert-success">
[문제 22]  

거래량 필드를 생성하고 , 가 들어가도록 변경하기(예: 16949183.0 -> 16,949,183)
</div>

<div class="alert alert-success">
[문제 23]  

주가 데이터를 월(‘Month’)별로 그룹핑하고, 거래량(‘Volume’)의 평균값을 표시하세요.
</div>

<div class="alert alert-success">
[문제 24]  

결측치가 있는지 확인하고, 결측치가 있을 경우 결측치를 처리하세요.
</div>

<div class="alert alert-success">
[문제 25]  

12월의 데이터와 11월의 데이터를 별도의 데이터프레임(dec_df, nov_df)으로 만들고 두 데
이터프레임을 하나의 데이터프레임으로 이어 붙이세요
</div>